* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
body, div, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #000000;  
  display: inline;
    }
img {
  border-radius: 100%;
  width: 230px;
}

h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 26px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    }
a {
  font-family: 'Kanit', sans-serif;
  margin: 1.5em 0;
    }
li {
  display: block;
  border: 3px solid;
  border-radius: 36px;
  margin: 3em;
  padding: 1em;
  color : black;
  background-color: #ffffff9b;
  font-size: 20px;
    }
p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em;
  font-size: 18px;    
}
aside#quest {
  margin: 0 20%;
  width: 50%;
  float: none;
  text-align: center;  
  background-color: #35424a;
}
label {
  color: #ffffff;
  margin: 9%;
}
.dark {
  padding:15px;
  color: #ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
  
.quote input, .quote textarea{
  width:90%;
  padding:5px;
}
#botao{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

@media only screen and (min-width: 768px) {

  h1{
    font-size: 32px;
  }
  li{
    margin: 5em;
  }
  aside#quest{
    width: 40%;
    margin: 0 30%;
  }
  

}